{
    margin:0;
    padding: 0; 
}

/*
HEADER font
font-family: 'Shrikhand', cursive;

BODY font
font-family: 'Rubik', sans-serif;*/


body {
    background-color: #FFFFFF;
    font-family:'Rubik', sans-serif;
    margin: 0 auto;
    width: 1000px;
}


header {
    background-color: #FFF;
    background-size: 100% 100%;
    min-height: 10 px;
    padding: 0px;
}

main {
    background-color: #FFF;
    min-height: 600px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 600px;
}


a {
    font-size: 15px;
    text-decoration: none;
}

a:link {
    color: #000;
}

a:hover {
    color: #E45ECD;
}

a:visited {
    color: #AE1293;
}

.container-fluid {
    padding-bottom: 70px;
    padding-top: 70px;
}

.mybackground {
    background: url(backgroundglitter.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    height: 175px;
    width: 800px;
    margin-top: 25px;
}

.background1 {
    background-color: #ffffff;
    opacity: 0.7;
    width: 500px;
    text-align: center;
    margin-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    color: #000 ;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 1px;
    font-size: 35px;
    line-height: 25px;
}

.textlayout {
    text-align: center;
    width: 600px;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#text {
    margin: 0px;
}

pre { 
    font-family: 'Rubik', sans-serif;
    line-height: 35px;
    text-align: center;
    width: 250px;
    height: 480px;
    margin-left: -15px;
    padding-bottom: 20px;
}

.backgroundpre {
    background-color: #0DD693;
    width: 250px;
    height: 480px;
    margin-left: 275px;
    float: none;
    padding-top: 5px;
    padding-bottom: 15px;
}

