
body {
    width: 1000px;
    margin-top: 50px;
}



@font-face {
    font-family: 'coalhandlukecoalhandluketrial';
    src: url('coalhandluke_trial-webfont.woff2') format('woff2'),
         url('coalhandluke_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'coalhandlukecoalhandluketrial', serif;
}